<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Curiculum Vitae</title>
</head>
<body>
<div id="abc">
    <p class="a" th:if="${name} == null">this is my cv </p>
    <p class="a" th:unless="${name}==null"
       th:text="'hello ' + ${name} + ', i hope you are interested in hiring me'"></p>
</div>
<div class="e">
    <p class="f">Muhammad Naufal Irbahhana</p>
    <br>
    <p style="font-size: 40px;color: white"> education history </p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://edupost.id/wp-content/uploads/ngg_featured/SMP-IHBS.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h3 style="font-weight: bold"> Junior </h3>
                        <p class="card-text">Sekolah Menengah Pertama Ibnu Hajar Boarding School.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="http://www.global-islamic.com/assets/file_serpong/T.P%202017%20-%202018/PERGURUAN/PEMBUKAAN%20TP%202017-2018%20GIS%202%20SERPONG/PEMBUKAAN%20TP%202017-2018%20GIS%202%20SERPONG%20(8).JPG"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 style="font-weight: bold"> Senior </h3>
                        <p class="card-text">Sekolah Menengah Atas Global Islamic School Serpong.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://quipper-video-wordpress.s3.amazonaws.com/images/2017/02/2.1-7-min.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 style="font-weight: bold"> University </h3>
                        <p class="card-text"> Universitas Indonesia Fakultas Ilmu Komputer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hij">
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm" style="width:700px">
                <p class="h"> i'am a student in computer major, love to eat and play video games. I hate to code but
                    it's my job to do </p>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</div>
</body>
</html>